/* your custom css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* main */
body {
    background-image: url("/img/bg02.png");
    background-color: #222;
    color: #bfbfbf;
    font-family: 'Montserrat', sans-serif;
}

.homeContainer,
.mainContainer,
.lightBackground {
    background: transparent;
}

.homePage {
    background-image: url(../img/wonderlandv1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
}

.darkBackground {
    background: #fff;
    color: #222;
}

.container.darkBackground .wrapper .imageAlignSide h2 {
    color: #b89e4c;
}

.imageAlignTop .blockImage {
    max-width: 240px;
}

/* header */
.fixedHeaderContainer {
    box-shadow: 0 0.2em 0 #000;
}

/* sidebar */
nav.toc .toggleNav .navGroup.navGroupActive {
    background: #f9f9f9;
}
nav.toc .toggleNav ul li.navListItem a {
    color: #222;
}
nav.toc .toggleNav ul li.navListItem a.navItemActive {
    color: #b89e4c;
}

/* article */
.doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
    background: transparent;
}

.mainContainer .wrapper .post h1, .mainContainer .wrapper .post h2, .mainContainer .wrapper .post h3 {
    font-weight: 300;
    text-shadow: 0.03em 0.03em 0.03em #bbb;
}

.mainContainer .wrapper .post .postHeader h1 {
    font-weight: 400;
    text-shadow: 0.03em 0.03em 0.03em #000;
}

.mainContainer .wrapper .post .postHeader h1 a:hover {
    text-decoration: none;
}

article {
    margin-top: 20px;
    padding: 0 1em 1em;

    background: #f9f9f9;
    box-sizing: border-box;
    border-radius: 0.2em;
    box-shadow: 0em 0.05em 0.5em #000;

    color: #222;
}

article p, article ul {
    font-size: 95%;
}

article p img {
    max-height: 25em;
}

article.post-content {
    padding: 0;

    background: transparent;
    box-shadow: 0 0 0 transparent;

    color: inherit;
}

.mainContainer .wrapper blockquote > p {
    padding: 0;
}

.mainContainer .wrapper .post article h1,
.mainContainer .wrapper .post article h2,
.mainContainer .wrapper .post article h3,
.mainContainer .wrapper .post article h4,
.mainContainer .wrapper .post article h5,
.mainContainer .wrapper .post article h6 {
    color: #727272;
    font-weight: 400;
    text-shadow: none;
}

article blockquote {
    background-color: #b89e4c17;
    border-left: 5px solid #b89e4c;
}

article code {
    background-color: #941c9c26;
    box-shadow: 2px 0 #941c9c21, -2px 0 #941c9c21;
}

.mainContainer .wrapper article strong {
    font-weight: 700;
    font-size: 92%;
}

/* footer */
footer.nav-footer {
    background: #fff;
}

footer .copyright {
    color: #222;
    font-style: italic;
}

footer .sitemap h5, footer .sitemap h5 > a, footer .sitemap h6, footer .sitemap h6 > a {
    color: #222;
}

footer .sitemap a {
    color: #222;
}

footer .sitemap a:hover {
    color: #b89e4c;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 736px) {
    .navigationSlider .slidingNav ul li a {
        color: #222;
        font-weight: 400;

        transition: color 0.2s ease;
    }

    .navigationSlider .slidingNav ul li a:hover {
        color: #fff;
    }
}

@media only screen and (min-width: 1024px) {
    /* sidebar */
    .separateOnPageNav .docsNavContainer,
    .doc.separateOnPageNav .docsNavContainer {
        margin: 20px 0 0;
    }

    /* article */
    .doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
        padding: 0 20px 10px;
    }

    .blogContainer .lonePost, .blogContainer .posts, .mainContainer:not(.blogContainer) .wrapper .post {
        padding-top: 0;
    }

    /* rigthbar */
    .onPageNav a {
        color: #bfbfbf;
    }
}

@media only screen and (max-width: 1023px) {
    /* sidebar */
    nav.toc .toggleNav {
        background: #f9f9f9;
    }

    /* article */
    .blogContainer .lonePost, .blogContainer .posts, .mainContainer:not(.blogContainer) .wrapper .post {
        padding-top: 20px;
    }

    .navigationSlider .slidingNav ul li a {
        font-size: 70%;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}